/* 整體背景 */
body {
    background-color: #eeede1;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* 主容器 */
.main-container {
    width: 1000px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    padding-right: 20px;
}
/* 左側欄 */
.left-panel {
    width: 30%;
    background-color: #438dcc;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 12px;
    overflow: hidden;
}

/* 上半 */
.left-photo-area {
    width: 100%;
    overflow: hidden;
}

.left-big-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 下半 */
.left-info-area {
    padding: 25px;
    color: white;
}

/* 姓名 */
.left-name {
    margin: 0;
    font-weight: bold;
}

/* 學生身份小字 */
.left-title {
    margin-top: 4px;
    margin-bottom: 20px;
}

/* 小標題（About Me, Contact） */
.left-section-title {
    margin-top: 18px;
    margin-bottom: 8px;
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

/* 內文段落 */
.left-description {
    line-height: 1.4;
}

/* Email GitHub 連結 */
.left-info-area a {
    text-decoration: none;
    color: #ffffff;
}

/* 校徽 */
.left-logo {
    width: 200px;
    margin-top: 20px;
}

/* 右欄 */
.right-panel {
    width: 70%;
    padding-left: 20px;
}

/* 每個 Section 標題 */
.section-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid #999;
    padding-bottom: 5px;
    margin-bottom: 18px;
}

/* Education */
.edu-item {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.year {
    width: 120px;
    font-weight: bold;
}

.description {
    color: #444;
}

/* 技能 tag */
.tag {
    display: inline-block;
    background-color: #e5efff;
    color: #1a3d7c;
    padding: 6px 12px;
    border-radius: 8px;
    margin: 5px 5px 0 0;
    font-size: 14px;
}

/* HW + Lab 兩欄 */
.hw-lab-container {
    display: flex;
    gap: 20px;
}

.hw-column, .lab-column {
    flex: 1;
    background-color: #f6f8ff;
    padding: 15px;
    border-radius: 10px;
}

.hw-column a, .lab-column a {
    text-decoration: none;
    color: #1a3d7c;
}

.hw-column ul, .lab-column ul {
    padding-left: 18px;
}

/* Favorite Music */
.music-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.music-item {
    width: 22%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.music-item img {
    width: 50%;
    border-radius: 10px;
}

.music-note {
    font-size: 14px;
    color: #555;
}
